{% extends "layout.html" %}

{% block title %}
    Generated Art
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"></script>
    <script defer src="/static/image.js"></script>
{% endblock %}

{% block main %}
    <div class="art">
        <div id="art">
            {% for line in ascii %}
                <pre>{{ line }}</pre>
            {% endfor %}
        </div>
    </div>
    <div class="section options">
        <h2>Options</h2>
        <!-- <h4>Change background color</h4>
        <input type="radio" class="background" name="background" value="black" checked> black &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" class="background" name="background" value="white" onclick="changeBackground()"> white -->
        <div class="align">
            <form action="{{ action }}" method="post">
                <button type="submit" class="button">{{ button }}</button>
            </form>
            <button class="button" onclick="location.href = '/'">Homepage</button>
        </div>
        <button id="save" class="button">Save as jpeg</button>
    </div>
{% endblock %}