<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- https://favicon.io/emoji-favicons/money-bag/ -->
        <!-- <link href="/static/favicon.ico" rel="icon"> -->

        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>