<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#000000"/>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/favicons/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>