<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="theme-color" content="#000000"/>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/favicons/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
        <link rel="manifest" href="/static/site.webmanifest">
        {% block scripts %}{% endblock %}

        <meta name="description" content="Transform your favorite images into stunning text-based masterpieces. Synascie is an image to ascii art generator.">
        <meta property="og:image" content="/static/favicons/android-chrome-512x512.png">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Synascie">
        <meta name="twitter:description" content="Transform your favorite images into stunning text-based masterpieces. Synascie is an image to ascii art generator.">
        <meta name="twitter:image" content="/static/favicons/android-chrome-512x512.png">

    </head>
    <body>
        {% block main %}{% endblock %}
        <div class="section options">
            <p>Copyright © 2023 &nbsp;<a id="link" target="_blank" href="https://ayushshahh.netlify.app/">Ayush Shah</a><span style="color:orange; font-size: larger;">&#10138;</span></p>
            <p style="color:rgb(200, 200, 200)">
                View <a style="color: inherit; text-decoration: underline;" target="_blank" href="https://github.com/AyushShahh/synascie/">source code</a><span style="color:orange">&#10138;</span>
                <p style="font-size: small;">Seeing anything unexpected or found a bug?<br>Report to Ayush or open an issue on GitHub.</p>
            </p>
        </div>
    </body>
</html>